{% extends "blog/base.html" %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-sm-8">
        <div class="d-flex align-items-center mb-3">
          <img src="{{ object.author.profile.image.url }}" class="rounded-circle" style="width: 80px">
          <h5 class="mb-0 ml-3">{{ object }}</h5>
        </div>
        <span>by <a href="#">{{ object.author }}</a> on {{ object.date_posted|date:"F d, Y" }}</span><br>
        <hr>
        <span>Prediction: <strong>{{ object.prediction }}</strong></span><br>
        <span>Odds: <strong>{{ object.odds }}</strong></span><br>
        <span>Analysis: <strong>{{ object.analysis }}</strong></span>
    </div>
  </div>
</div>
{% endblock content %}
