<div class="col-sm-4 custom-sidebar">
  <ul class="list-group">
    <a href="{% url 'tip-create' %}"><li class="list-group-item bg-light">Add new betting tip</li></a>
    <a href="#"><li class="list-group-item bg-light">List all my betting tips</li></a>
    <a href="#"><li class="list-group-item bg-light">Lorem ipsum kips</li></a>
    <a href="#"><li class="list-group-item bg-light">Ipsum dogen troken bas</li></a>
    <a href="#"><li class="list-group-item bg-light">Lara kaplum toro el</li></a>
    <a href="#"><li class="list-group-item bg-light">Ila ipsa sila mu</li></a>
  </ul>
</div>
